img {
    height: 300px;
    border-radius: 25px;
    border: 1px solid black;
}
/* add code here to change the color and font family of your movie's name/title */
h1 {
    color: rgb(247, 168, 21);
    font-family: Arial, Helvetica, sans-serif;

}
h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
}

p, li, ol {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

li {
    color:rgb(15, 137, 236);
}
